.slider{
    width: 256px;
    height: 256px;
    border: solid 2px #000;
    margin: 30px auto;
    overflow :hidden;
    left: 0;
}
.slider-line{
    height: 256px;
    width: 1024px;
    background: orangered;
    display: flex;
    position: relative;
    transition: all 1s ease-in-out;
}
.slider-line img{
    width: 256px;
    height: 256px;
}