*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider_container{
    display: flex;
}
.slider{
    width: 256px;
    height: 256px;
    border: solid 2px #000;
    margin: 30px auto;
}
.slider_line{
    display: flex;
    height: 256px;
    position: relative;
}
.slider img{
    width: 256px;
    height: 256px;
    background: tomato;
}
.btns{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.btns > button{
    padding: 10px;
    margin: 0 5% 0 5%;
}